[Unit]
Description=AgenC Data Partition
Before=agenc-dirs.service

[Mount]
What=/dev/mmcblk0p4
Where=/data
Type=ext4
Options=defaults,noatime

[Install]
WantedBy=local-fs.target
